access_key            = "access_key"
secret_key            = "secret_key"
distribution_name     = "cdn.awesome"
bucket_name           = "a-bucket"
bucket_versioning     = "Disabled"
cloudfront_public_key = "base64-encoded-string"
